@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --bg-color: #055B5C;
    --second-bg-color: #08979D;
    --text-color: #b2e0e0;
    --main-color: #CCABD8;
}



body {
    background: var(--bg-color);
    color: var(--text-color);

}
.header-1 h2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 40px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 0.5rem 15% 25rem ;

}
.info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    
}
.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;  
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;  
}
.contact .col-3{
    width: 100%;
}
.form-control {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background: #CCABD8;
    border: none;
    color:black;
    text-align: start;
    border-radius: 15px;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;  
}
.address .col-5{
    width: 100%;
}
.address-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;  
}
.form-control-1  {
    width: 470px; 
    height: 150px;
    padding: 1rem;
    font-size: 1rem;
    background: #CCABD8;
    border: none;
    color:black;
    text-align: start;
    border-radius: 15px;
}
.choose{
    padding-bottom: 5rem;
    flex-direction: row;
}

.template-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
    width: 200%;
    padding: 1rem;
    font-size: 1rem;
    background: #CCABD8;
    border: none;
    color:black;
    text-align: start;
    border-radius: 15px;
    border-color: #08979D;
}
.submit button{
    width: 100%;
    padding: 15px 30px; 
    font-size: 1rem;
    background: #CCABD8;
    border: none;
    color:black;
    text-align: start;
    border-radius: 15px;
    cursor: pointer;
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
